<div class="gridster">
  <ul>
    
    <li data-col="1" data-row="1" data-sizex="1" data-sizey="1">
      <div data-id="response_time_1" data-view="Alert" data-addclass-danger="isTooHigh" data-title="IPT" data-threshold=200></div>
    </li>

    <li data-col="2" data-row="1" data-sizex="1" data-sizey="1">
      <div data-id="response_time_2" data-view="Alert" data-addclass-danger="isTooHigh" data-title="CDP" data-threshold=300></div>
    </li>

<li data-col="3" data-row="1" data-sizex="1" data-sizey="1">
      <div data-id="response_time_3" data-view="Alert" data-addclass-danger="isTooHigh" data-title="AFTS" data-threshold=300></div>
    </li>


 <li data-col="1" data-row="2" data-sizex="1" data-sizey="1">
      <div data-id="response_time_4" data-view="Alert" data-addclass-danger="isTooHigh" data-title="IDAM" data-threshold=300></div>
    </li>

 <li data-col="2" data-row="2" data-sizex="1" data-sizey="1">
      <div data-id="response_time_5" data-view="Alert" data-addclass-danger="isTooHigh" data-title="DSAB" data-threshold=300></div>
    </li>

<li data-col="3" data-row="2" data-sizex="1" data-sizey="1">
      <div data-id="response_time_6" data-view="Alert" data-addclass-danger="isTooHigh" data-title="Other" data-threshold=300></div>
    </li>

</div>